<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory >
        
        <!-- data source (used when there is no data source specified in Spring context)-->
        <!-- 
        <property name="connection.datasource">java:/comp/env/jdbc/MyDB</property>
        -->        

        <!-- properties -->               
        <property name="dialect">${hibernate.dialect}</property>
        <property name="show_sql">${hiberante.showsql}</property>
        <property name="hbm2dll.auto">${hiberante.hbm2dll.auto}</property>
        
        <!-- mapping files --> 
        <!-- mapping resource="com/mycompany/domain/Product.hbm.xml"/-->
        
        <!-- Custom Queries -->
        <mapping resource="com/mycompany/dao/hibernate/mapping/queries.hbm.xml"/>        
        
        <!-- For JPA annoatations -->
        <mapping class="com.mycompany.domain.Product"/>
        <mapping class="com.mycompany.domain.User"/>
        <mapping class="com.mycompany.domain.Role"/>
        
    </session-factory>
    
</hibernate-configuration>